@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(101, 47, 75);
}

.grid-container {
    display: grid;
    
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'header'
    'scoreInfo'
    'choices'
    'message';
}


.grid-header {
    display: grid;
    grid-area: header;
    ;
}

.flex-header {
    display:flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding:3%;
    font-family: 'Roboto Slab', serif;
    font-size: 1vw;
}


.grid-score-board {
    display: grid;
    grid-area: scoreInfo;
}

.score-board {
    display:flex;
    justify-content: space-around;
    padding: 2rem;
}

#score-ID {
    border: 3px solid white;
    border-radius: 1rem;
    border-style:dashed;
    color: white;
    font-size: 3vw;
    padding:2% 3%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    box-shadow: 2rem 2rem 1rem black;
}

.badge {
    
    background-color: black;
    color:white;
    font-size: 1.5rem;
    box-shadow: 2rem 2rem 1rem black;
 }

 #user-lable {

    border: 0.1rem solid white;
    border-radius: 2rem;
    padding:3vw 4vw;
    
 }

 #computer-lable {
   
    border: 0.1rem solid white;
    border-radius: 2rem;
    padding:3vw 4vw;
    
    
}

.result {
    font-size: 2vw;
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.result > p {
    text-align: center;
    font-weight: bold;
}


.grid-choices {
    display: grid;
    grid-area: choices;
}

.choices {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.choice {
    border: 0.3rem solid rgb(88, 11, 57);
    border-radius: 50%;
    
   
    transition: all 0.8s ease;
    box-shadow: 2rem 2rem 1rem black;
}
.choice:hover {
    cursor: pointer;
    background:rgb(70, 27, 50) ;
    
    
}

.grid-message {
    display: grid;
    grid-area: message;
}

.flex-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom: 5%;
}
#action-message {
    color:white;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

img {
    width:15vw;
}


@media (max-width: 800px) {
    .chocies {
    margin-top:50%;
    margin-bottom: 10%;
    }
   img {
    width:24vw;
   }
}


@media (max-width: 600px) {
    .flex-header {
        font-size: 2vw;
    }
    img {
        width:20vw;
    }
}


@media (max-width: 500px) {
    #user-lable {
        padding:2% 3%;
        border-radius: 0;
    }
    #computer-lable {
        padding: 2% 3%;
        border-radius: 0;
    }
    #score-ID {
        margin:0 10%;
        font-size: 7vw;;
    }
    #action-message {
        font-size: 5vw;
        margin-top: 5%;
    }
    .result >p {
        font-size: 7vw;
    }
    .flex-header {
        font-size: 3vw;
    }

  
}




















